/* popup 1 */
.popup{
    position:absolute;
    margin:100px auto;
    width:300px;
    height:400px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:aliceblue;
    border:2px solid;
    border-color: #1ebaa9;
    z-index:100000000000000000;
    display:none
    }
    
.cancel{
    display:relative;
    cursor:pointer;
    margin:0;
    float:right;
    height:20px;
    width: 20px;;
    padding:0 0 0 0;
    background-color: aliceblue;

    text-align:center;
    font-weight:bold;
    font-size:11px;
    color:white;
    border-radius:3px;
    z-index:100000000000000000;
    }

.cancel:hover{
    background: lightcoral;
    }

/* title popup 1 */
.center-title{
    text-align: center;
    font-family:verdana;
    font-size:16px;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #1ebaa9;
    border-radius: 4px;
    box-sizing: border-box;
}

      
#popup-button {
    width: 100%;
    background-color: #1ebaa9;
    color: white;
    font-size: 17px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
      
.save-user:hover {
    background-color: green;
}

input[type=date], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #1ebaa9;
    border-radius: 4px;
    box-sizing: border-box;
}
      


/* popup 2 (edit activity) */
.popup-edit{
    position:absolute;
    margin:100px auto;
    width:300px;
    height:460px;
    font-family:verdana;
    font-size:13px;
    padding:10px;
    background-color:aliceblue;
    border:2px solid;
    border-color: #1ebaa9;
    z-index:100000000000000000;
    display:none
}


.delete-user {
    width: 100%;
    background-color: red;
    color: white;
    font-family:verdana;
    font-size: 17px;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
      
.delete-user:hover {
    background-color: lightcoral;
}


/* when focussed */
input[type=text]:focus {
    background-color: #c8eae6;
}

input[type=date]:focus {
    background-color: #c8eae6;
}
